.toggleBtn-container {
    position: fixed;
    bottom: 1rem;
    left: 5px;
    z-index: 99;
}

.toggleBtn {
    color: #fff !important;
    background-color: #3f51b5 !important;
    opacity: 0.3;
    width: 60%;
}

.toggleBtn:hover{
    opacity: 1;
}

.radio-group > * {
    margin-left: 0 !important;
}