* {
    box-sizing: border-box;
}

.grid-container {
    width: 70%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
}

.btn {
    margin: 20px 0;
    display: flex !important;
    justify-content: center;
}

.pgnUp {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.MuiCircularProgress-colorPrimary {
    color: white !important;
}

@media screen and (max-width: 450px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .Navbar p {
        margin-top: 20px;
        font-size: 18px;
    }

    .Search_input {
        width: 10em;
    }

    .Search_input label {
        color: white;
        font-size: 12px;
    }

    .SearchBar {
        margin-left: 0;

    }

    .Navbar{
        justify-content: space-between ;
    }
}

